.main {
  height: 100vh;
  width: 100vw;
  /* background-color: rgb(202, 172, 250); */
  background-color: hsl(266, 100%, 50%, .6);
  /* background-color: rgb(238, 238, 238); */
  font-family: 'Roboto', sans-serif;
}

.nav {
  width: 100vw;
  height: 70px;
  /* background-color: hsl(266, 100%, 50%); */
  background-color: rgb(17, 17, 17);
  color: rgb(238, 238, 238);
  display: flex;
  justify-content: center;
  align-items: center;
}

.clean {
  width: fit-content;
  height: fit-content;
  margin: 0;
  padding: 0;
}

.content-header {
  width: 100vw;
  display: flex;
}

.btn {
  width: fit-content;
  background-color: rgb(17, 17, 17);
  color: rgb(238, 238, 238);
  border-radius: 5px;
  cursor: pointer;
  padding: 1em;
  margin: 1em;
}

.content-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reason {
  height: 60vh;
  width: 40vw;
  border-radius: 5px;
  background-color: rgb(17, 17, 17);
  color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  padding: 2em;
  overflow-y: auto;
}

.reason-item {
  height: fit-content;
  padding: 1em;
  margin-top: .5em;
  margin-bottom: .5em;
  border: 3px solid hsl(266, 100%, 50%, .6);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.todays {
  height: fit-content;
  padding: 1em;
  margin-top: .5em;
  margin-bottom: .5em;
  background-color: hsl(266, 100%, 50%, .6);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-title {
  color: rgb(17, 17, 17);
}